#content {
  height: 65vh;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

#grid-container {
  height: 100%;
}

#menu {
  background-color: #ECECEC;
  border-radius: 5px;
}

#section {
  padding: 20px;
  box-shadow: none;
  background-color: #ECECEC;
  border-radius: 5px;
  margin-bottom: 150px;
}